body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 300px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #333;
}

.form-group {
    margin: 10px 0;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}

.error {
    color: red;
    font-size: 12px;
    display: none;
}

button {
    width: 100px;
    padding: 10px;
    background-color: #215e41;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
